.IdPage {
    padding: 32px;
}

.IdPage-logo {
    width: 128px;
    height: 128px;
}

.IdPage-title {
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;
    padding-top: 32px;
}

.IdPage-subtitle {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    padding-top: 32px;
    padding-bottom: 8px;
}

.IdPage-button {
    display: inline-block;
    vertical-align: top;
    color: #333;
    text-decoration: none;
    margin-top: 32px;
    padding: 8px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    background-color: #ccc;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    border: 2px solid #bbb;
    width: 110px;
}
.IdPage-button:active {
    border-color: #555;
    background-color: #777;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset;
}
.IdPage-button:focus {
    border-color: #26c;
}

.IdPage-description {
    max-width: 600px;
    margin: auto;
}

.IdPage-link {
    color: #04c;
    cursor: pointer;
    text-decoration: underline;
}
