.Item {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    width: calc(var(--size) + 40px);
}
.Item-img {
    width: var(--size);
    height: var(--size);
}

@media (max-width: 550px) {
    .Item {
        --size: 64px;
    }
}
@media (min-width: 551px) {
    .Item {
        --size: 96px;
    }
}
