* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font: normal 18px/25px Arial, sans-serif;
    background: transparent;
    cursor: inherit;
    color: inherit;
    text-decoration: none;
}

html, body {
    height: 100%;
    background-color: white;
    text-align: center;
    color: black;
    cursor: default;
}

.Main {
    min-height: 100%;
    overflow: auto;
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.Main-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.Main-top-logo {
    height: 64px;
}

.Main-top-title {
    font-size: 25px;
    line-height: 35px;
}

.Main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
}

.Main-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
